@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@Html.ActionLink("Go to Privacy", "Privacy")

<br />

@Html.ActionLink("Go to Order Index View", "Index", "Order")

<br />

@Html.ActionLink("Go to Order Details", "Details", "Order", new { id = 10 })


